@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbonito::-webkit-scrollbar-track {
      background-color: #fff;
    }
    .scrollbonito::-webkit-scrollbar {
        width: 5px;
        background: #fff;
    }
    .scrollbonito::-webkit-scrollbar-thumb {
        background: #e5e7eb;
        border-radius: 30px;
    }
    .notScroll::-webkit-scrollbar {
        background: transparent;
      }
  }